<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wahttodo.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatToDo"
        android:usesCleartextTraffic="true">
        <activity
            
            android:label="Listing"
            android:theme="@style/noActionBar"
            android:name=".view.activity.ListingCardActivity"
            android:exported="false" />
        <activity
            android:theme="@style/noActionBar"
            android:label="Matches"
            android:name=".view.activity.ShortListedLIstActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.SubCategoryActivity"
            android:exported="false"
            android:label="Filters"
            android:theme="@style/noActionBar"/>
        <activity
            android:name=".view.activity.DecisionActivity"
            android:exported="false"
            android:label="What would you like to do?"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".view.activity.WaitingRoomActivity"
            android:exported="false"
            android:label="My Group"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:exported="false"
            android:label="Home"
            android:theme="@style/Theme.WhatToDo" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.activity.AuthActivity"
            android:exported="false"
            android:theme="@style/noActionBar" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/noActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>